body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}
p {
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    background-color: yellow;
}
a {
    text-decoration: none;
    color: white;
}

.main {
    display: flex;
    height: 90%;
    margin: 0;
}

.menu {
    background-color: red;
    width: 30%;
    height:100%;
    margin: 0;
}

.dynamic {
    background-color: blue;
    width:70%;
    height:100%;
    margin: 0;
}

.player {
    margin: 0;
    background-color: orange;
    height: 10%;
}